@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #111111;
  /* background-image: url('background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain; */
  padding: 0 20px;
}

@theme {
  --color-orange: #f0a840;
  --color-dark: #1c1c1c;
  --color-black: #111111;
  --color-route-line: #f97316;
  --color-text-primary: #ffffff;
  --color-accent-green: #10b981;
  --color-accent-red: #ef4444;
  --color-logo: #5cbae1;
  --font-custom: 'JetBrains Mono', monospace;
  --breakpoint-*: initial;
}

@custom-variant 2xl (@media (max-width: 1650px));
@custom-variant xl (@media (max-width: 1399px));
@custom-variant lg (@media (max-width: 1200px));
@custom-variant md (@media (max-width: 992px));
@custom-variant sm (@media (max-width: 768px));
@custom-variant xs (@media (max-width: 480px));
@custom-variant xxs (@media (max-width: 360px));

.border-gradient {
  background: linear-gradient(90deg, #ef4444, #f0a840);
}
